body {
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Poppins o Arial/Helvetica si no quieres líos de fuentes */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0b0c11; /* Color de fondo muy oscuro */
}
